body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-height:max-content

}

@font-face {
  font-family: myFont;
  src: url(BADABB__.TTF)
}



.calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #3d1fe7;
}

.display {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1d4ff3;
  color: #fff;
  border-radius: 5px;
  text-align: right;
  font-family: myFont;
  color: greenyellow
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: myFont;
  
}


.btn:hover {
  background-color: rgb(140, 221, 19);
}

.btn-clear {
  background-color: #f1bb07;
}

.btn-clear:hover {
  background-color: rgb(140, 221, 19);
  ;
}
.final {
  grid-column: span 2; 

} 

@media only screen and (max-width: 400px){
  
  .calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
}